        <nav>
            <ul>
                <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
                <li>{{#linkTo 'projects'}}Projects{{/linkTo}}</li>
                <li>{{#linkTo 'resume'}}Resume{{/linkTo}}</li>
            </ul>
        </nav>
		{{outlet}}
		<footer>
            <img src="images/mail.png" width="20px" height="15px"> Gaurav0 at aol dot com
            <a href="http://www.linkedin.com/pub/gaurav-munjal/4/245/722"><img src="images/linkedin.png" width="16px" height="16px"> LinkedIn</a>
            <a href="https://github.com/gaurav0"><img src="images/github.png"" width="20px" height="16px"> Github</a>
        </footer>