        <header>
            <img src="images/photo.jpg" width="100px" height="117px">
            <p>Hi, my name is Gaurav Munjal. I&rsquo;m a front end web developer at <a href="www.booker.com">Booker Software</a>. And I <em>love</em> software development.</p>
        </header>
        <p class="list-header">I have a diverse background:</p>
        <ul>
            <li>I&rsquo;ve worked in small and large companies.</li>
            <li>I&rsquo;ve worked in various fields including transportation, health care, and finance.</li>
            <li>I have experience with systems development, web development, and mobile development.</li>
        </ul>
        <p class="list-header">I have strong technical skills:</p>
        <ul>
            <li>I have been programming since I got my first computer when I was 12.</li>
            <li>When I was supposed to do daily financial reports at work, I automated them instead.</li>
            <li>After being hired to make an ecommerce site, I integrated complete order processing and automatic printing of shipping labels, saving the smail company over $200,000 annually.</li>
            <li>I know over a dozen programming languages. I can learn enough to get by in a new one in just two weeks.</li>
        </ul>
        <p class="list-header">I have strong leadership skills:</p>
        <ul>
            <li>I was the technical lead both at work and on several group {{#linkTo 'projects'}}projects{{/linkTo}}.</li>
            <li>I was president of the Access Futures Club at CCNY from 2011-2012, bringing awareness of people with disabilities. We won the Club of the Year Award at CCNY.</li>
            <li>I was president of the <a href="http://ccny.acm.org">CCNY Chapter</a> of <a href="http://acm.org">ACM</a>. I organized our first Game Jam.</li>
        </ul>
