        <p class="download">Download this resume as: <a href="gaurav-munjal-resume-13.doc">Word</a> <a href="gaurav-munjal-resume-13.pdf">PDF</a></p>
		<p class="please">Please print the Word or PDF version of this resume, available for download at http://gaurav0.github.io/#/resume</p>
        <div id="resume">
            <header>
                Gaurav Munjal<br>
                13-34 139 St<br>
                Whitestone, NY 11357<br>
                718-746-1687<br>
                http://gaurav0.github.io
            </header>
            <h1>Skills</h1>
            <table id="skills">
                <tr>
                    <th>Programming Languages</th>
                    <td>JavaScript, Java, VB.Net, VB6, C#, C, C++, PHP, Python, Oracle PL/SQL, x86 Assembly, VBScript, VBA</td>
                </tr>
                <tr>
                    <th>Other Computer Languages</th>
                    <td>SQL, XML, XSLT, HTML, CSS, JSON</td>
                </tr>
                <tr>
                    <th>Technologies</th>
                    <td>HTML5, CSS3, Node.js, Express, Socket.IO, Django, JQuery, Ember.js, ASP.Net, ASP, JSP, Servlets, Swing, JUnit, COM</td>
                </tr>
                <tr>
                    <th>Databases</th>
                    <td>Oracle, SQL Server, MS Access, MySQL, SQLite</td>
                </tr>
                <tr>
                    <th>Development Software</th>
                    <td>Eclipse, Visual Studio, SQL*Plus, Matlab</td>
                </tr>
                <tr>
                    <th>Platforms</th>
                    <td>Web, Windows, Linux, Android</td>
                </tr>
            </table>
            <h1>Work Experience</h1>
            <table class="headline">
                <tr>
                    <td>Booker Software</td>
                    <td>Front End Web Developer</td>
                    <td>June 2013 – Present</td>
                </tr>
            </table>
			<ul>
				<li>Worked on Calendar and Customer Flow web applications using C# ASP.Net and Ember.js</li>
                <li>Implemented Real Time Calendar Updates using websockets, Node.js, and Socket.IO</li>
			</ul>
            <table class="headline">
                <tr>
                    <td>Codacity, LLC.</td>
                    <td>Web Developer Intern</td>
                    <td>Feb. 2013 – June 2013</td>
                </tr>
            </table>
            <ul>
                <li>Developed custom themes and plugins for Wordpress using PHP, HTML5, CSS3 and JavaScript.</li>
                <li>Delivered customizable single page web applications with responsive design.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>Continuum Health Partners, Inc.</td>
                    <td>Sr. Financial Planning Analyst</td>
                    <td>Mar. 2005 – Mar. 2009</td>
                </tr>
            </table>
            <ul>
                <li>Analyzed utilization, financial, and cost information from both hospital and external sources.</li>
                <li>Synthesized it into user comprehensible reports in MS Excel to support financial and operational decisions.</li>
                <li>Estimated hospital revenue and costs using financial models such as CMI and RCC.</li>
                <!--<li>Provided financial and operational reports to senior management for decision making and strategic planning.</li>
                <li>Audited utilization records for accuracy, and watched for variance and trends in utilization.</li>-->
                <li>Automated the production of daily, weekly, and monthly statistical reports using clinical and operational data.</li>
                <li>Developed and maintained tables, queries, and reports in Model 204 / SDSM (TSI), along with VBA macros.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>Marine Depot, Intl.</td>
                    <td>Software Developer</td>
                    <td>Oct. 2003 – Mar. 2005</td>
                </tr>
            </table>
            <p class="desc">This project involved designing a new generation of door locks using HID proximity cards.</p>
            <ul>
                <li>Developed a new release of wireless door lock configuration software in VB.Net</li>
                <li>Implemented the new feature of both setting up and reading from HID proximity cards.</li>
                <li>Interfaced with vendor supplied code in VB6, C, and a proprietary assembly language.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>National Data Systems, Inc.</td>
                    <td>Web Developer</td>
                    <td>Jan. 2001 – May 2002</td>
                </tr>
            </table>
            <p class="desc">Technical lead on the development of a complete web based e-commerce solution.</p>
            <ul>
                <li>Developed custom web pages dynamically generated form database information using ASP.</li>
                <li>Developed online administration tools to securely edit the website and database remotely.</li>
                <li>Integrated a commercially available COM object for real time credit card processing.</li>
                <li>Integrated third party XML based web services for address verification and shipping information.</li>
                <li>Achieved savings of $200,000 per year by eliminating data entry and order processing costs.</li>
            </ul>
            <h1>Education</h1>
            <table class="headline">
                <tr>
                    <td>City College of New York</td>
                    <td>Computer Engineering</td>
                    <td>Sep. 2010 – Present</td>
                </tr>
            </table>
            <p class="subdesc">Activities: Tau Beta Pi, Eta Kappa Nu, Golden Key, IEEE, President Access Futures Club 2011-2012, President ACM 2012-2013</p>
            <table class="headline">
                <tr>
                    <td>Cooper Union</td>
                    <td>Electrical Engineering</td>
                    <td>(109.5 credits)</td>
                    <td>July 1994 – May 1998</td>
                </tr>
            </table>
            <ul><li>Awarded Full Scholarship</li></ul>
            <!--
            <table class="headline">
                <tr>
                    <td>Optima Systems, Inc.</td>
                    <td>Web Designer</td>
                    <td>Summer, 1996</td>
                </tr>
            </table>
            <ul>
                <li>Designed websites for LimoNet, Optima Systems, Elite Limousines, NYLimo, and others.</li>
                <li>Created a Java applet to display a real time data feed of New York City traffic information.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>Elite Limousines, Plus, Inc.</td>
                    <td>Computer Technician</td>
                    <td>Summer, 1995</td>
                </tr>
            </table>
            <ul>
                <li>Maintained a Microsoft Windows network of 35 PCs.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>Logical Computer Selections, Inc.</td>
                    <td>Asst. Computer Technician</td>
                    <td>Summer, 1993</td>
                </tr>
            </table>
            <ul>
                <li>Maintained a Microsoft Windows network of 35 PCs.</li>
            </ul>
            <h1>Professional Training</h1>
            <table class="headline">
                <tr>
                    <td>Accenture Technology Solutions</td>
                    <td>Entry Level Training Course</td>
                    <td>April 2003 – June 2003</td>
                </tr>
            </table>
            <ul>
                <li>Learned Accenture’s trade secret methodology, which includes best practices of project planning, documentation, testing, and quality control, covering the complete software development lifecycle.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>Chubb Institute</td>
                    <td>Advanced Web and Business Programming</td>
                    <td>June 2002 – Nov. 2002</td>
                </tr>
            </table>
            <p class="desc">Intensive, hands on training accredited by Council for Continuing Education and Training.</p>
            <ul>
                <li>Graduated with honors and 4.0 GPA.</li>
                <li>Completed a case study of a bookselling e-commerce website using JSP, Oracle, and cross browser XML, XSLT, CSS, Javascript, DOM, and HTML.</li>
            </ul>
            <table class="headline">
                <tr>
                    <td>Access Computers</td>
                    <td>Web Development </td>
                    <td>Aug 2000 – Dec. 2000</td>
                </tr>
            </table>
            <ul>
                <li>Final project was a shopping cart website using ASP and MS Access database programming.</li>
            </ul>
            -->
        </div>